body {
    width: 1280px;
    height : 720px;
}

#canvasArea {
    width: 100%;
    height: 100%;
}
.scaledSvg {
    display: block;
    position: absolute;
}

.btns {
    width : 20px;
    height : 20px;
    border: 1px solid blue;
    /* position: relative; */
    display: inline;
}

#canvas {
    border: 2px dotted blue;
    background-color: lightblue;
    width: 1280px;
    height: 720px;
    position: absolute;
}
#tmpCanvas {
    width: 1280px;
    height: 720px;
    position: absolute;
}

.lowLayer {
    z-index: 5;
}

.highLayer {
    z-index: 10;
}

.selected {
    z-index: 15;
    border: 1px solid grey;
}

line {
    stroke: steelblue;
    stroke-width: 2px;
    stroke-linecap: round;
}